body{
    margin-left: 3%;
    font-family: 'Edu SA Hand';
}
h1{
    text-align: center;
    font-family: 'Edu SA HandD';
    font-size: 40px;
}                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         
b{
    color: red;
}
.Logo{
    margin-left: 10%;
}
h2{
    font-family: 'Edu SA HandD';
}
.Imagenes{
    margin-top: 20px;
    width: 600px;
}
