body{
    margin-left: 3%;
    font-family: 'Edu SA Hand';
}
h1{
    text-align: center;
    font-family: 'Edu SA HandD';
}                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         
b{
    color: red;
}
.Logo{
    margin-left: 10%;
}
h2{
    font-family: 'Edu SA HandD';
}
